<!--Mitali Juneja (mj2944) !-->
<!--Final assignment = homepage shows required information !-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Home | Mitali Juneja</title>
    <head>
    <body>
    <h1>MITALI JUNEJA</h1>
    <nav>
        <ul>
            <li>
                <a href="/" class="active">HOME</a>
            </li>
            <li>
                <a href="/stock-visualizer">STOCK VISUALIZER</a>
            </li>
            <li>
                <a href="/weather">WEATHER</a>
            </li>
    </nav>
    <p><img src="static/me.JPG" alt="Mitali" class="me"> First Year Computer Science
        student in SEAS</p>
    <p><a href="https://www.google.com">Favorite website</a>
    </body>
</html>

