<!--Mitali Juneja (mj2944) !-->
<!--Final assignment = display weather and background photo on page !-->
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Weather | Mitali Juneja</title>
    <head>
    <body>
        <img src="static/city.jpg" alt="city">
        <p class="weather">CURRENT TEMPERATURE IN {{data["city"]}}</p> 
        <p class="weather"><br><br>{{data["temp"]}}°F</p>
    </body>
</html>
