<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Mitali Juneja - Home</title>
    <head>
    <body>
    <h1>MITALI JUNEJA</h1>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/stock-visualizer">PAGE 1</a>
            </li>
            <li>
                <a href="/miku">PAGE 2</a>
            </li>
    </nav>
    <p><img src="static/me.JPG" alt="Mitali"> First Year Computer Science
        student in SEAS</p>
    </body>
</html>

<!--href='https://fonts.googleapis.com/css?family=Assistant'
background-color: rgb(201,240,233)
color: rgb(5,29,54);;
alphavantage api key AR8Q3PVC72Z9J74R!-->
<!---->