<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Mitali Juneja - Page1</title>
    <head>
    <body>
    <form method="POST">
        <label for="symbol">Symbol:</label>
        <input name="symbol">
        <input type="submit" value="Submit">
         <label for="purchase_date">Purchase Date:</label>
        <input type="date" id="purchase_date" name="purchase_date">
        <input type="submit" value="Submit">
    </form>
    </body>
</html>