<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Weather | Mitali Juneja</title>
    <head>
    <body>
    <h1>Weather</h1>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/stock-visualizer">STOCK VISUALIZER</a>
            </li>
            <li>
                <a href="/weather" class="active">WEATHER</a>
            </li>
    </nav>
    <h3>Get the current temperature</h3>
    <h6>To begin enter a city</h6>
    <form method="POST">
        <label for="city">City:</label>
        <input name="city">
        <input type="submit" value="SUBMIT">
    </form>
    </body>
</html>

